.arkaplan-rengi{
  background-color: #1ebbd4;
}

.navbar-renk{
  background-color: #e8a507;
}
.btn-primary{
  background-color: #e8a507;
}
.btn-secondary{
  background-color: #107502;
}
.yazı{
box-sizing: border-box;
}
.kutu{
  text-align: center;
}
.paketler{
text-align: left;
}
.font-weight{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}
.unvan{
  float: right;
  margin-top: auto;
  margin-bottom: auto;

}
.icon{
  color:#218212;
}
.profilresmi{
  margin-left: auto;
  margin-right: auto;
}
